body {
  font-family: sans-serif;
  margin: 0;
  padding: 3rem;
  background: linear-gradient(90deg, #fff, rgb(83, 246, 255));
  color: #525252;
  text-align: center;
}

#alert {
  margin: 3rem auto;
  padding: 1rem;
  width: 15rem;
  border: 5px solid #ff769b;
  background-color: #949494;
  color: rgb(255, 255, 255);
}

#alert button {
  font: inherit;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: 540218;
  color: rgb(245, 123, 123);
  border-radius: 4px;
  cursor: pointer;
}

#delete-button {
  margin: 5px;
  padding: 15px;
  border: 3px solid rgb(148, 148, 148);
  border-radius: 4px;
}
